<b>SACI | Sistema de Atención para Correos Institucionales</b><br />
ℹ POR FAVOR NO RESPONDER A ESTE MENSAJE<br /><br />

<h1>Solicitud Cancelada</h1>

Saludos:<br />
<b>@usuario.UsuNombre @usuario.UsuPrimerApellido @usuario.UsuSegundoApellido</b><br /><br />

Por medio del presente nos permitimos informarle que su<br />
solicitud de No. de Ticket <b>#@solicitud.IdSolicitudTicket,</b><br />
ha sido cancelada por el siguiente motivo:<br /><br />

<blockquote>@solicitud.SolRespuestaDcyC</blockquote><br /><br />

Sin más por el momento que tenga un excelente día.<br />
NUESTRO MAYOR COMPROMISO ES BRINDARLE CON EFICIENCIA Y CALIDAD EL SERVICIO.

@code
{
    [Parameter] public MtTbSolicitudesTicket solicitud { get; set; } = new() { SolIdUsuarioNavigation = new() };
    MpTbUsuario usuario { get { return solicitud.SolIdUsuarioNavigation; } }
}
