<b>SACI | Sistema de Atención para Correos Institucionales</b><br />
ℹ POR FAVOR NO RESPONDER A ESTE MENSAJE<br /><br />

<h1>Solicitud enviada a Mesa de control</h1>

Estimad@@:<br />
<b>@usuario.UsuNombre @usuario.UsuPrimerApellido @usuario.UsuSegundoApellido</b><br /><br />

Por medio del presente nos permitimos informarle que su<br />
solicitud con No. de Ticket <b>#@solicitud.IdSolicitudTicket</b><br />
de <b>@solicitud.SolIdTipoSolicitudNavigation.TiposolDescripcion</b>,<br />
ha sido canalizada para su atención.<br /><br />

Sin más por el momento que tenga un excelente día.<br />
NUESTRO MAYOR COMPROMISO ES BRINDARLE CON EFICIENCIA Y CALIDAD EL SERVICIO.

@code
{
    [Parameter] public MtTbSolicitudesTicket solicitud { get; set; } = new() {SolIdUsuarioNavigation = new() };
    MpTbUsuario usuario {get { return solicitud.SolIdUsuarioNavigation; }}
}
