h1{
    font-weight:bold;
    font-size: 1.25em;
    margin-bottom:0.5em;
}

.required
{
    border-bottom:1px solid red;
}

.red
{
    font-weight:bold;
    color:red;
}

.dialog_simple .rz-dialog-content {
    padding-bottom: 0;
}

.bg-silver
{
    background-color:#ccc;
}

tr.rz-data-row.rz-state-highlight a
{
    color:white !important;
}

.loading_img {
    display: inline-block;
    width: 64px;
    height: 64px;
    animation: send 1s infinite;
    transition-timing-function: ease-in;
}

@keyframes send
{
    0% { transform: translateX(-32px) scaleY(100%) }
    20% { transform: translateX(-16px) scaleY(50%) }
    40% { transform: translateX(-16px) scaleY(50%) }
    50% { transform: translateX(32px) scaleY(50%) }
    60% { transform: translateX(32px) scaleY(110%) }
    80% { transform: translateX(32px) scaleY(90%) }
    100% { transform: translateX(-32px) scaleY(100%) }
}