<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="/api/SendWhatsApp" />
                    <action type="Rewrite" url="http://www.developers.upiicsa.ipn.mx:8081/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
