/.vs
/CorreosInstitucionales/Client/bin/
/CorreosInstitucionales/Client/obj/
/CorreosInstitucionales/Server/bin/
/CorreosInstitucionales/Server/obj/
/CorreosInstitucionales/Shared/bin/
/CorreosInstitucionales/Shared/obj/
/CorreosInstitucionales/Client/wwwroot/Repositorio/pendientes/*.xlsx
