<!-- ... Contenido para pantallas pequeñas móviles -->
<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
    <RadzenButton id="scroll-to-top-movil" Click=@(args => JSRuntime.InvokeVoidAsync("window.scrollTo", 0, 0)) Text="" Icon="arrow_upward" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" Shade="Shade.Dark" Variant="Variant.Flat"
                  class="rz-border-radius-10 rz-shadow-10 rz-ripple" Style="display: none; position: fixed; bottom: 80px; right: 20px; z-index:1000;" />
</div>

<!-- ... Contenido para pantallas grandes ... -->
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">
    <RadzenButton id="scroll-to-top-monitor" Click=@(args => JSRuntime.InvokeVoidAsync("window.scrollTo", 0, 0)) Text="Subir" Icon="arrow_upward" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Large" Shade="Shade.Light" Variant="Variant.Flat"
                  class="rz-border-radius-10 rz-shadow-10 rz-ripple" Style="display: none; position: fixed; bottom: 80px; right: 20px; z-index:1000;" />
</div>

@code
{
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JSRuntime.InvokeVoidAsync("onscroll");

        if (firstRender)
        {
        }
    }
}
