@page "/Index"

@attribute [Authorize]

<style>
</style>

<PageTitle>Inicio | Panel de Control</PageTitle>
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@

<AuthorizeView Policy="[Rol] Usuario Solicitante">
	<Authorized>
		<p>Autorizado</p>
		@* <RadzenButton Text="Show info notification" Style="margin-bottom: 20px; width: 200px"
                    ButtonStyle="ButtonStyle.Info"
                    Click=@(args => ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Info Summary", Detail = "Info Detail", Duration = 4000 })) /> *@
	</Authorized>
	<NotAuthorized>
		<p>No Autorizado</p>
	</NotAuthorized>
	<Authorizing>
		<p>Autorizando...</p>
	</Authorizing>
</AuthorizeView>

<AuthorizeView Policy="[Rol] Administrador">
	<Authorized>
	</Authorized>
	<NotAuthorized>
		<p>No Autorizado</p>
	</NotAuthorized>
	<Authorizing>
		<p>Autorizando...</p>
	</Authorizing>
</AuthorizeView>

@code
{
}
