@page "/Index"

@attribute [Authorize]

@using CorreosInstitucionales.Client.CapaPresentation_ComponentsPages_UI_UX.RegistroAlumno
@using CorreosInstitucionales.Shared.CapaTools.reCAPTCHA;
@using Syncfusion.Blazor.Navigations;

@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject HttpClient Http

<style>
    .default-tab {
        border: 1px solid #d7d7d7;
    }
    .default-tab .e-content .e-item {
        padding: 10px;
        text-align: justify;
    }
    .default-tab-control-section {
        margin: 20px 20% 20px 20%;
    }
    @@media screen and (max-width: 480px) {
        .default-tab-control-section {
            margin: 20px 0 20px 0;
        }
    }
    .bootstrap5 .default-tab,
    .bootstrap5-dark .default-tab,
    .bootstrap .default-tab,
    .bootstrap-dark .default-tab,
    .bootstrap4 .default-tab {
        border: none;
    }
    .fluent .default-tab .e-content > .e-item.e-active,
    .bootstrap5 .default-tab .e-content > .e-item.e-active,
    .tailwind .default-tab .e-content > .e-item.e-active,
    .material .default-tab .e-content > .e-item.e-active,
    .bootstrap4 .default-tab .e-content > .e-item.e-active,
    .bootstrap .default-tab .e-content > .e-item.e-active,
    .fabric .default-tab .e-content > .e-item.e-active {
        background: #FAF9F8;
    }
    .fluent-dark .default-tab .e-content > .e-item.e-active,
    .bootstrap5-dark .default-tab .e-content > .e-item.e-active,
    .tailwind-dark .default-tab .e-content > .e-item.e-active,
    .material-dark .default-tab .e-content > .e-item.e-active,
    .bootstrap-dark .default-tab .e-content > .e-item.e-active,
    .fabric-dark .default-tab .e-content > .e-item.e-active,
    .highcontrast .default-tab .e-content > .e-item.e-active {
        background: #201F1E;
    }
</style>

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



@code
{
}
