@page "/Edificios"

@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Request;
@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Response;
@using CorreosInstitucionales.Shared.CapaServices.BusinessLogic.catEdificiosService;


@inject IEdificio servicioEdificio
<h3>MCE_catEdificio</h3>

@if (oResponse != null && oResponse.Data != null)
{

    foreach (var edificio in oResponse.Data)
    {
        <div>@edificio.IdEdificio</div>
        <div>@edificio.EdiNombreOficial</div>
        <div>@edificio.EdiNombreAlias</div>

    }
}
else
{
    <div>Cargando...</div>
}

<form method="get">

    <p>Descripci&#243n Piso  <input type="text" name="descripcion" size="200px"></p>
    <p>
        Status:
        <input type="radio" name="st" value="A"> Activo
        <input type="radio" name="st" value="I"> Inactivo
    </p>

</form>

@code
{
    public Response<List<EdificioViewModel>>? oResponse = new Response<List<EdificioViewModel>>();

    protected override async Task OnInitializedAsync()
    {
        oResponse = await servicioEdificio.GetAllDataAsync(false);
    }
}