@page "/Carreras"

@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Request;
@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Response;
@using CorreosInstitucionales.Shared.CapaServices.BusinessLogic.catCarrerasService;

@inject ICarrera servicioCarrera
<h3>MCE_catCarrera</h3>

@if (oResponse != null && oResponse.Data !=null)
{
    foreach (var carrera in oResponse.Data)
    {
        <div>@carrera.IdCarrera</div>
        <div>@carrera.CarrClave</div>
        <div>@carrera.CarrNombre</div>
        <div>@carrera.CarrStatus</div>
    }
}
@code {
    public Response<List<CarreraViewModel>>? oResponse = new Response<List<CarreraViewModel>>();
    protected override async Task OnInitializedAsync()
    {
        oResponse = await servicioCarrera.GetAllDataAsync(false);
    }
}
