@page "/Usuarios"

@attribute [Authorize]

@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Request;
@using CorreosInstitucionales.Shared.CapaEntities.ViewModels.Response;
@using CorreosInstitucionales.Shared.CapaServices.BusinessLogic.tbUsuariosService;
@using Syncfusion.Blazor.Grids;

<h3>MCE_tbUsuario</h3>

@inject IUsuario servicioUsuario

<SfGrid DataSource="@oResponse.Data" AllowPaging="true">
    <GridColumns>
        <GridColumn Field=@nameof(UsuarioViewModel.IdUsuario) HeaderText="Id Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(UsuarioViewModel.UsuNombre) HeaderText="Clave Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(UsuarioViewModel.UsuPrimerApellido) HeaderText="Nombre Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(UsuarioViewModel.UsuSegundoApellido) HeaderText="Nombre Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(UsuarioViewModel.UsuCurp) HeaderText="Nombre Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(UsuarioViewModel.UsuFileNameCurp) HeaderText="Nombre Carrera" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="120"></GridColumn>

    </GridColumns>
</SfGrid>

@code {
    public Response<List<UsuarioViewModel>>? oResponse = new Response<List<UsuarioViewModel>>();

    protected override async Task OnInitializedAsync()
    {
        oResponse = await servicioUsuario.GetAllDataAsync(false);
    }
}
