

<h3>Ejemplo ReCaptcha Oscar</h3>
<div id="recaptchaDiv" class="g-recaptcha"></div>

@code
{
    [Inject]
    protected IJSRuntime JSRuntime {get; set;}

    [Parameter]
    public string SiteKey { get; set; }

    [Parameter]
    public EventCallback<string> OnSuccess { get; set; }

    [Parameter]
    public EventCallback<string> OnExpired { get; set; }

    private DotNetObjectReference<ReCaptcha>? _doNetObjReference;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _doNetObjReference = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("RCJS.Init", _doNetObjReference, "recaptchaDiv", SiteKey);
        }
    }

    [JSInvokable]
    public void RecaptchaSuccess(string response)
    {
        if(OnSuccess.HasDelegate){
            OnSuccess.InvokeAsync(response);
        }
    }
    [JSInvokable]
    public void RecaptchaExpired()
    {
        if (OnExpired.HasDelegate)
        {
            OnExpired.InvokeAsync();
        }
    }
}
