@page "/RegistroIndex"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor

@using CorreosInstitucionales.Client.CapaPresentation_ComponentsPages_UI_UX.RegistroAlumno
@using CorreosInstitucionales.Client.CapaPresentation_ComponentsPages_UI_UX.RegistroEmpleado

@attribute [AllowAnonymous]

@layout LoginLayout

<PageTitle>Registro de Usuario</PageTitle>

<style>
    .nested-tabs {
        border: 1px solid #d7d7d7;
    }

        .nested-tabs .e-content .e-item {
            text-align: justify;
        }

            .nested-tabs .e-content .e-item p {
                padding: 10px;
            }

    .nested-tab-control-section {
        margin: 20px 20% 20px 20%;
    }

    @@media screen and (max-width: 480px) {
        .nested-tab-control-section {
            margin: 20px 0 20px 0;
        }
    }

    .bootstrap5 .nested-tabs,
    .bootstrap5-dark .nested-tabs,
    .bootstrap .nested-tabs,
    .bootstrap-dark .nested-tabs,
    .bootstrap4 .nested-tabs {
        border: none;
    }

    .fluent .child-tabs .e-content > .e-item.e-active,
    .bootstrap5 .child-tabs .e-content > .e-item.e-active,
    .tailwind .child-tabs .e-content > .e-item.e-active,
    .material .child-tabs .e-content > .e-item.e-active,
    .bootstrap4 .child-tabs .e-content > .e-item.e-active,
    .bootstrap .child-tabs .e-content > .e-item.e-active,
    .fabric .child-tabs .e-content > .e-item.e-active {
        background: #FAF9F8;
    }

    .fluent-dark .child-tabs .e-content > .e-item.e-active,
    .bootstrap5-dark .child-tabs .e-content > .e-item.e-active,
    .tailwind-dark .child-tabs .e-content > .e-item.e-active,
    .material-dark .child-tabs .e-content > .e-item.e-active,
    .bootstrap-dark .child-tabs .e-content > .e-item.e-active,
    .fabric-dark .child-tabs .e-content > .e-item.e-active,
    .highcontrast .child-tabs .e-content > .e-item.e-active {
        background: #201F1E;
    }

    .nested-tabs.e-tab > .e-toolbar.e-tab-header .e-toolbar-items {
        display: flex;
    }

        .nested-tabs.e-tab > .e-toolbar.e-tab-header .e-toolbar-items .e-toolbar-item {
            display: flex;
            flex: 1 1 auto;
            text-align: center;
        }
</style>

<div class="container">
    <div class="row mt-5">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-2 text-start">
                            <div class="e-avatar e-avatar-small e-avatar-circle image">
                                <img src="/ipn.png" alt="profile_pic">
                            </div>
                        </div>
                        <div class="col-8 text-center pb-0">
                            <div style="font-variant:small-caps;"> Registro</div>
                        </div>
                        <div class="col-2 text-end">
                            <div class="e-avatar e-avatar-small e-avatar-circle image">
                                <img src="/ipn.png" alt="profile_pic">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-lg-12 control-section">
                        <div class="nested-tab-control-section">
                            <SfTab CssClass="nested-tabs">
                                <TabAnimationSettings>
                                    <TabAnimationPrevious Effect=Syncfusion.Blazor.AnimationEffect.None></TabAnimationPrevious>
                                    <TabAnimationNext Effect=Syncfusion.Blazor.AnimationEffect.None></TabAnimationNext>
                                </TabAnimationSettings>
                                <TabItems>
                                    <TabItem>
                                        <ContentTemplate>
                                            <SfTab CssClass="child-tabs">
                                                <TabAnimationSettings>
                                                    <TabAnimationPrevious Effect=Syncfusion.Blazor.AnimationEffect.None></TabAnimationPrevious>
                                                    <TabAnimationNext Effect=Syncfusion.Blazor.AnimationEffect.None></TabAnimationNext>
                                                </TabAnimationSettings>
                                                <TabItems>
                                                    <TabItem>
                                                        <ChildContent>
                                                            <TabHeader Text="Inscrito"></TabHeader>
                                                        </ChildContent>
                                                        <ContentTemplate>
                                                            <RegistroInscrito/>
                                                        </ContentTemplate>
                                                    </TabItem>
                                                    <TabItem>
                                                        <ChildContent>
                                                            <TabHeader Text="Egresados"></TabHeader>
                                                        </ChildContent>
                                                        <ContentTemplate>
                                                            <RegistroEgresado/>
                                                        </ContentTemplate>
                                                    </TabItem>
                                                    <TabItem>
                                                        <ChildContent>
                                                            <TabHeader Text="Maestría"></TabHeader>
                                                        </ChildContent>
                                                        <ContentTemplate>
                                                            <RegistroMaestria/>
                                                        </ContentTemplate>
                                                    </TabItem>
                                                </TabItems>
                                            </SfTab>
                                        </ContentTemplate>
                                        <ChildContent>
                                            <TabHeader Text="Alumnos"></TabHeader>
                                        </ChildContent>
                                    </TabItem>
                                    <TabItem>
                                        <ContentTemplate>
                                            <SfTab CssClass="child-tabs">
                                                <TabAnimationSettings>
                                                    <TabAnimationPrevious Effect=Syncfusion.Blazor.AnimationEffect.None></TabAnimationPrevious>
                                                    <TabAnimationNext Effect=Syncfusion.Blazor.AnimationEffect.None></TabAnimationNext>
                                                </TabAnimationSettings>
                                                <TabItems>
                                                    <TabItem>
                                                        <ChildContent>
                                                            <TabHeader Text="Administrativo"></TabHeader>
                                                        </ChildContent>
                                                        <ContentTemplate>
                                                            <RegistroAdministrativo/>
                                                        </ContentTemplate>
                                                    </TabItem>
                                                    <TabItem>
                                                        <ChildContent>
                                                            <TabHeader Text="Docente"></TabHeader>
                                                        </ChildContent>
                                                        <ContentTemplate>
                                                            <RegistroDocente/>
                                                        </ContentTemplate>
                                                    </TabItem>
                                                    <TabItem>
                                                        <ChildContent>
                                                            <TabHeader Text="Honorario"></TabHeader>
                                                        </ChildContent>
                                                        <ContentTemplate>
                                                            <RegistroHonorario/>
                                                        </ContentTemplate>
                                                    </TabItem>
                                                </TabItems>
                                            </SfTab>
                                        </ContentTemplate>
                                        <ChildContent>
                                            <TabHeader Text="Empleados"></TabHeader>
                                        </ChildContent>
                                    </TabItem>
                                   
                                </TabItems>
                            </SfTab>
                        </div>
                    </div>

                    
                </div>
                <div class="card-footer text-body-secondary card-subtitle">
                    © UPIICSA 2023 vα 0.0.1
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
}
