@page "/catalogo/areas_departamentos"
@inject DialogService DialogService
@using System.Text.Json

<PageTitle>@Title</PageTitle>

<div class="p-4 rounded-1 bg-white shadow">
    <h1>@Title</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>
                        @if (item.AreStatus)
                        {
                            @item.AreNombreAreaDepto
                        }
                        else
                        {
                            <del>@item.AreNombreAreaDepto</del>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary form-control" @onclick="async ()=> await Editar(item)">
                            Editar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code
{
    private string Title = "Catálogo de Áreas/Departamentos";
    private List<RequestViewModel_AreaDepto> items = new List<RequestViewModel_AreaDepto>();

    public List<RequestViewModel_Edificio> cat_AreIdEdificio { get; private set; } = new List<RequestViewModel_Edificio>();
    public List<RequestViewModel_Piso> cat_AreIdPiso { get; private set; } = new List<RequestViewModel_Piso>();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = await WebUtils.ListByStatusAsync(servicioAreaDepto, false);

            cat_AreIdEdificio = await WebUtils.ListByStatusAsync(servicioEdificio);
            cat_AreIdPiso = await WebUtils.ListByStatusAsync(servicioPiso);

            StateHasChanged();
        }
    }

    private async Task Editar(RequestViewModel_AreaDepto item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_AreaDepto? registro = JsonSerializer.Deserialize<RequestViewModel_AreaDepto>(json);

        if (registro is not null)
        {
            RequestViewModel_AreaDepto? result = await DialogService.OpenAsync<AreaDeptoEditor>
                (
                    "Actualizar Datos",
                    new Dictionary<string, object>() {
                            {"registro", registro},
                            {"cat_AreIdPiso", cat_AreIdPiso},
                            {"cat_AreIdEdificio", cat_AreIdEdificio}
                        },
                    new DialogOptions() { ShowClose = false, Width = "75%" }
                );
            //CloseDialogOnEsc = true, CloseDialogOnOverlayClick = true,

            if (result is not null)
            {
                HttpResponseMessage response = await servicioAreaDepto.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    items = await WebUtils.ListByStatusAsync(servicioAreaDepto, false);
                }
            }
        }
    }
}
