@page "/catalogo/carreras"
@inject DialogService DialogService
@using System.Text.Json

<PageTitle>@Title</PageTitle>

<div class="p-4 rounded-1 bg-white shadow">
    <h1>@Title</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>
                        @if (item.CarrStatus)
                        {
                            <text>[@item.CarrClave] @item.CarrNombre</text>
                        }
                        else
                        {
                            <del>[@item.CarrClave] @item.CarrNombre</del>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary form-control" @onclick="async ()=> await Editar(item)">
                            Editar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code
{
    private string Title = "Catálogo de Carreras";
    private List<RequestViewModel_Carrera> items = new List<RequestViewModel_Carrera>() { 
        new RequestViewModel_Carrera() { CarrNombre = "Cargando..." } 
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = await WebUtils.ListByStatusAsync(servicioCarrera, false);
            StateHasChanged();
        }
    }

    private async Task Editar(RequestViewModel_Carrera item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_Carrera? registro = JsonSerializer.Deserialize<RequestViewModel_Carrera>(json);

        if (registro is not null)
        {
            RequestViewModel_Carrera? result = await DialogService.OpenAsync<CarreraEditor>
                (
                    "Actualizar Datos",
                    new Dictionary<string, object>() {
                    {"registro", registro},

                        },
                    new DialogOptions() { ShowClose = false, Width = "75%" }
                );
            //CloseDialogOnEsc = true, CloseDialogOnOverlayClick = true,

            if (result is not null)
            {
                HttpResponseMessage response = await servicioCarrera.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    items = await WebUtils.ListByStatusAsync(servicioCarrera, false);
                }
            }
        }
    }
}
