@page "/catalogo/estados_solicitud"

@attribute [Authorize(Policy = "[Rol] Ambos")]

@inject DialogService DialogService

<PageTitle>@Title</PageTitle>

    <div class="p-4 rounded-1 bg-white shadow">
        <h1>@Title</h1>

    <div class="row my-3">
        @if (cargado && puede_agregar)
        {

            <div class="offset-10 col-2">
                <button type="button" class="btn btn-primary form-control" @onclick="Agregar">
                    Agregar...
                </button>
            </div>
        }

        @if ((!cargado))
        {
            <div class="col text-center">
                <img src="logo_saci.png" class="loading_img" />
                <br />
                Cargando...
            </div>

        }
    </div>

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                    FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@items" TItem="RequestViewModel_EstadoSolicitud" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                    SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedItems
                    Visible=@cargado>
        <Columns>
            <RadzenDataGridColumn TItem="RequestViewModel_EstadoSolicitud" Property="IdEstadoSolicitud" Title="ID" Filterable="false" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="RequestViewModel_EstadoSolicitud" Property="EdosolNombreEstado" Title="Nombre" Filterable="false" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn TItem="RequestViewModel_EstadoSolicitud" Context="item"
                                  Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="false"
                                  Visible=@puede_editar>

                <Template Context="item">
                    <RadzenButton title="Editar..."
                                  Icon="edit"
                                  ButtonStyle="ButtonStyle.Info"
                                  Variant="Variant.Filled"
                                  Size="ButtonSize.Medium"
                                  Click="@(async ()=> await Editar(item))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

</div>

@code
{
    private string Title = "Catálogo de Estados de Solicitud";
    private bool cargado { get; set; } = false;

    private bool puede_editar { get; set; } = true;
    private bool puede_agregar { get; set; } = false;

    private List<RequestViewModel_EstadoSolicitud> items = new List<RequestViewModel_EstadoSolicitud>();
    private IList<RequestViewModel_EstadoSolicitud> selectedItems = new List<RequestViewModel_EstadoSolicitud>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CargarLista();

            cargado = true;
            StateHasChanged();
        }
    }

    private async Task CargarLista(int? selecccionar_id = null)
    {
        items = await WebUtils.ListByStatusAsync(servicioEstadoSolicitud, false);

        if (selecccionar_id is not null)
        {
            selectedItems = items.Where(i => (i.IdEstadoSolicitud == selecccionar_id)).ToList();
        }
    }

    private async Task<RequestViewModel_EstadoSolicitud?> MostrarFormulario(RequestViewModel_EstadoSolicitud registro)
    {
        return await DialogService.OpenAsync<EstadosSolicitudEditor>
                (
                    "Actualizar Datos",
                    new Dictionary<string, object>()
                                {
                        {"registro", registro}
                                },
                    new DialogOptions()
                        {
                            ShowClose = false,
                            Width = "50%",
                            CssClass = "dialog_simple"
                        }
                );
    }

    private void MensajeCarga()
    {
        DialogService.OpenAsync<Carga>(
                "Cargando...",
                new Dictionary<string, object>(),
                new DialogOptions() { ShowClose = false, Width = "64px" }
            );
    }

    private async Task Agregar()
    {
        RequestViewModel_EstadoSolicitud registro = new();

        RequestViewModel_EstadoSolicitud? result = await MostrarFormulario(registro);

        if (result is not null)
        {
            MensajeCarga();

            HttpResponseMessage response = await servicioEstadoSolicitud.AddDataAsync(registro);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(result.IdEstadoSolicitud);
            }

            DialogService.Close();
        }
    }// AGREGAR

    private async Task Editar(RequestViewModel_EstadoSolicitud item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_EstadoSolicitud? registro = JsonSerializer.Deserialize<RequestViewModel_EstadoSolicitud>(json);

        if (registro is not null)
        {
            RequestViewModel_EstadoSolicitud? result = await MostrarFormulario(registro);

            if (result is not null)
            {
                HttpResponseMessage response = await servicioEstadoSolicitud.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    await CargarLista(item.IdEstadoSolicitud);
                }
            }
        }
    }//EDITAR

    private async Task CambiarStatus(RequestViewModel_EstadoSolicitud item, bool status)
    {
        string des = status ? "" : "des";

        bool result = await DialogService.OpenAsync<ConfirmarDlg>
            (
                "Confirmar",
                new Dictionary<string, object>()
                                    {
                    {"mensaje" , $"¿Desea {des}habilitar el registro de {item.EdosolNombreEstado}?" }
                                    },
                new DialogOptions() { ShowClose = false }
            );

        if (result)
        {
            HttpResponseMessage response = await servicioUsuario.EnableDisableDataByIdAsync(item.IdEstadoSolicitud, status);
            if (response.IsSuccessStatusCode)
            {
                await CargarLista(item.IdEstadoSolicitud);
            }
        }
    }//CAMBIAR STATUS
}
