@page "/catalogo/pisos"
@inject DialogService DialogService
@using System.Text.Json

<PageTitle>@Title</PageTitle>

<div class="p-4 rounded-1 bg-white shadow">
    <h1>@Title</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>
                        @if(item.PisoStatus)
                        {
                            @item.PisoDescripcion
                        }
                        else
                        {
                            <del>@item.PisoDescripcion</del>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary form-control" @onclick="async ()=> await Editar(item)">
                            Editar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code
{
    private string Title = "Catálogo de Pisos/Niveles";
    private List<RequestViewModel_Piso> items = new List<RequestViewModel_Piso>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = await WebUtils.ListByStatusAsync(servicioPiso, false);
            StateHasChanged();
        }
    }

    private async Task Editar(RequestViewModel_Piso item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_Piso? registro = JsonSerializer.Deserialize<RequestViewModel_Piso>(json);

        if (registro is not null)
        {
            RequestViewModel_Piso? result = await DialogService.OpenAsync<PisosEditor>
                (
                    "Actualizar Datos",
                    new Dictionary<string, object>() {
                            {"registro", registro}
                        },
                    new DialogOptions() { ShowClose = false, Width = "75%" }
                );
            //CloseDialogOnEsc = true, CloseDialogOnOverlayClick = true,

            if (result is not null)
            {
                HttpResponseMessage response = await servicioPiso.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    items = await WebUtils.ListByStatusAsync(servicioPiso, false);
                }
            }
        }
    }
}
