@inject NavigationManager navigationManager;

<div class="top-row ps-3 navbar navbar-dark" style="background-color: #48132E;">
    <div class="container-fluid">
        <div class="e-avatar e-avatar-small e-avatar-circle image">
            <img src="/ipn.png" alt="profile_pic">
        </div>

        <a class="navbar-brand" href="/">PCEI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" style="background-color:#121416;">
    <nav class="flex-column">
        @*************************** Dashboard (Panel de Control) ***************************@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Panel de Control
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <span style="font-variant: small-caps; color:white; font-size:16px;">Módulos</span>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Edificios" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Edificios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Pisos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pisos
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    private bool collapseNavMenu = true;
    private bool expandMenuBlazor, expandMenuTickets = true, expandMenuAdmin, expandMenuCatálogos, expandMenuOtros;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LogOut()
    {
        // await loginService.Logout();
        // navigationManager.NavigateTo("/");
    }
}
