@using CorreosInstitucionales.Client.CapaPresentation.ComponentsPages.UI_UX.Login

@inject NavigationManager navigationManager;
@inject ILoginServices loginService

@*
<div class="top-row ps-3 navbar navbar-dark" style="background-color: #3d0000;">
    <div class="container-fluid">
        <div class="e-avatar e-avatar-small e-avatar-circle image">
            <img src="/ipn.png" alt="profile_pic">
        </div>
        <a class="navbar-brand" href="/">SACI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" style="background-color:#121416;">
    <nav class="flex-column">
    </nav>
</div> *@

<AuthorizeView Policy="[Rol] Usuario Solicitante">
    <Authorized>
        @*************************** Dashboard (Panel de Control) ***************************@
        <RadzenPanelMenuItem Text="Panel de Control" Icon="home" Path="Index" />
        <RadzenPanelMenuItem Text="Módulos" style="font-variant: small-caps; font-size:16px;" />
        @*************************** Módulo de Solicitudes (Tickets) ***************************@
        <RadzenPanelMenuItem Text="Solicitudes (Tickets)" Icon="bookmarks">
            @*************************** Levantamiento del Nuevo Ticket ***************************@
            <RadzenPanelMenuItem Text="Nueva Solicitud (Ticket)" Icon="local_offer" Path="NuevaSolicitudTicket" class="rz-border-base-800" />
            @*************************** Solicitudes (Ticket's) Pendientes y Atendidas ***************************@
            <RadzenPanelMenuItem Text="Seguimiento de Solicitudes (Tickets)" Icon="bookmark" Path="/SeguimientoTickets" class="rz-border-base-800" />
        </RadzenPanelMenuItem>
    </Authorized>
    <Authorizing>
    </Authorizing>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Policy="[Rol] Administrador">
    <Authorized>
        @*************************** Dashboard (Panel de Control) ***************************@
        <RadzenPanelMenuItem Text="Panel de Control" Icon="home" Path="Index" />
        <RadzenPanelMenuItem Text="Módulos" style="font-variant: small-caps; font-size:16px;" />
        @*************************** Módulo de Solicitudes (Tickets) ***************************@
        <RadzenPanelMenuItem Text="Solicitudes (Tickets)" Icon="bookmarks" class="">
            @*************************** Solicitudes (Ticket's) Pendientes ***************************@
            <RadzenPanelMenuItem Text="Solicitudes Pendientes" Icon="sell" Path="SolicitudesPendientes" class="rz-border-base-800" />
            @*************************** Solicitudes (Ticket's) Atendidas ***************************@
            <RadzenPanelMenuItem Text="Solicitudes Atendidas" Icon="bookmark" Path="SolicitudesAtendidas" class="rz-border-base-800" />
        </RadzenPanelMenuItem>
        @*************************** Módulo de Catálogos ***************************@
        <RadzenPanelMenuItem Text="Catálogos" Icon="settings" class="">
            @*************************** catÁreasDeptos ***************************@
            <RadzenPanelMenuItem Text="Áreas / Departamentos" Icon="lan" Path="AreasDeptos" class="rz-border-base-800" />
            @*************************** catExtensiones ***************************@
            <RadzenPanelMenuItem Text="Números de Extensión" Icon="phone" Path="Extensiones" class="rz-border-base-800" />
            @*************************** catEdificios ***************************@
            <RadzenPanelMenuItem Text="Edificios" Icon="domain" Path="Edificios" class="rz-border-base-800" />
            @*************************** catPisosNiveles ***************************@
            <RadzenPanelMenuItem Text="Pisos (Niveles)" Icon="stairs" Path="PisosNiveles" class="rz-border-base-800" />
            @*************************** catLinks ***************************@
            <RadzenPanelMenuItem Text="Enlaces Web (Links)" Icon="insert_link" Path="Links" class="rz-border-base-800" />
            @*************************** catCarreras ***************************@
            <RadzenPanelMenuItem Text="Carreras / Licenciaturas" Icon="school" Path="Carreras" class="rz-border-base-800" />
            @*************************** catDatosEscuela ***************************@
            <RadzenPanelMenuItem Text="Datos de la Escuela" Icon="apartment" Path="Escuela" class="rz-border-base-800" />
            @*************************** catTiposSolicitudTicket ***************************@
            <RadzenPanelMenuItem Text="Tipos de Solicitud" Icon="assignment" Path="TiposSolicitudTicket" class="rz-border-base-800" />
            @*************************** catTiposPersonal ***************************@
            <RadzenPanelMenuItem Text="Tipos de Personal" Icon="supervisor_account" Path="TiposPersonal" class="rz-border-base-800" />
        </RadzenPanelMenuItem>
        @*************************** tbUsuarios ***************************@
        <RadzenPanelMenuItem Text="Usuarios Solicitantes" Icon="people_alt" Path="Usuarios" />
    </Authorized>
    <Authorizing>
    </Authorizing>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
<RadzenPanelMenuItem Text="" class="rz-background-color-base-900" />
@*************************** Perfil ***************************@
<RadzenPanelMenuItem Text="Perfil" Icon="account_circle" Path="Perfil" />
@*************************** Cerrar Sesión (LogOut) ***************************@
<RadzenPanelMenuItem Text="Cerrar Sesión" Icon="logout" Click="@LogOut" />

@code
{
    // private bool collapseNavMenu = true;
    // private bool expandMenuBlazor, expandMenuTickets = true, expandMenuAdmin, expandMenuCatálogos, expandMenuOtros;
    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // private void ToggleNavMenu()
    // {
    //     collapseNavMenu = !collapseNavMenu;
    // }

    private async Task LogOut()
    {
        await loginService.Logout();
        navigationManager.NavigateTo("/");
    }
}
