@page "/ManualUso"

@attribute [Authorize(Policy = "[Rol] Administrador")]

<iframe src="./documentos/saci_manual_administrador.pdf" frameborder="1" scrolling="yes" class="w-100" style="height:500px;" />

<a href="./documentos/saci_manual_administrador.pdf" target="_blank" class="w-100">
    <RadzenButton Text="Descargar"
                  BusyText=""
                  ButtonStyle="ButtonStyle.Secondary"
                  ButtonType="ButtonType.Button"
                  IsBusy="false"
                  Icon="cloud_download"
                  class="rz-ripple rz-my-0 w-100"
                  Shade="Shade.Dark" />
</a>

@code
{
}
