@page "/debug/settings"
@using CorreosInstitucionales.Shared.CapaEntities.Common
@inject IConfiguration Configuration

<h3>DEBUG: Settings</h3>
<button @onclick="Prueba" class="btn btn-primary">Enviar correo de prueba</button>
<pre>|@debug|</pre>

@code {
    string? debug = null;

    protected override void OnInitialized()
    {
        debug = $"APP_CONTEXT: {AppContext.BaseDirectory} DOMAIN: {AppDomain.CurrentDomain.BaseDirectory}";
        
    }

    private void Prueba()
    {
        
    }
}
