@page "/catalogo/escuelas"
@inject DialogService DialogService

@using System.Text.Json

<table class="table table-hover shadow">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>
                    @item.EscNombreLargo (@item.EscNombreCorto / @item.EscNoEscuela)
                    <br />
                    @item.EscLogo
                </td>
                <td>
                    <button type="button" class="btn btn-primary form-control" @onclick="async ()=> await Editar(item)">
                        Editar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code
{
    //ÉSTE CÓDIGO VA EN LA PÁGINA DONDE SE ENCUENTRA EL LISTADO
    private List<RequestViewModel_Escuela> items = new List<RequestViewModel_Escuela>();



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            items = await WebUtils.ListAll(servicioEscuela);



            StateHasChanged();
        }
    }

    private async Task Editar(RequestViewModel_Escuela item)
    {
        string json = JsonSerializer.Serialize(item);
        RequestViewModel_Escuela? registro = JsonSerializer.Deserialize<RequestViewModel_Escuela>(json);

        if (registro is not null)
        {
            RequestViewModel_Escuela? result = await DialogService.OpenAsync<EscuelaEditor>
                (
                    "Actualizar Datos",
                    new Dictionary<string, object>() {
                    {"registro", registro},

                        },
                    new DialogOptions() { ShowClose = false, Width = "75%" }
                );
            //CloseDialogOnEsc = true, CloseDialogOnOverlayClick = true,

            if (result is not null)
            {
                HttpResponseMessage response = await servicioEscuela.EditDataAsync(registro);
                if (response.IsSuccessStatusCode)
                {
                    items = await WebUtils.ListAll(servicioEscuela);
                }
            }
        }
    }
}
