@page "/SolicitudesPendientes"


@attribute [Authorize(Policy = "[Rol] Administrador")]
<PageTitle>@Title</PageTitle>

<button class="btn btn-primary" @onclick="Descargar">
    Descargar
</button>

@code{
    
    private string Title = "Catálogo de Áreas/Departamentos";
    private bool cargado { get; set; } = false;
    

    private void Descargar()
    {
        
        
        
    }
}