@inject Radzen.DialogService dialogService

<EditForm Model=@registro OnValidSubmit="@OnValidForm">
    <div class="alert alert-info">
        Los campos marcados con <strong class="red" title="requerido">*</strong> son <strong>requeridos</strong>.
    </div>
    <DataAnnotationsValidator/>
    <div class="row"><!--ROW-->

        <div class="col-12 mb-2">
            <span class="fw-bold">Nombre Oficial<strong class="red" title="requerido">*</strong></span>
            <InputText @bind-Value="@registro.EdiNombreOficial" class="required form-control" />
            <ValidationMessage For="()=>registro.EdiNombreOficial"></ValidationMessage>
        </div>

        <div class="col-12 mb-2">
            <span class="fw-bold">Nombre Común (más conocido)</span>
            <InputText @bind-Value="@registro.EdiNombreAlias" class=" form-control" />
            <ValidationMessage For="()=>registro.EdiNombreAlias"></ValidationMessage>
        </div>
    </div><!--ROW-->
    
    <div class="container-fluid mt-3 py-3 bg-silver">
        <div class="row">
            <div class="offset-4 col-4">
                <button type="button" class="btn btn-secondary form-control" @onclick=@OnCloseForm>Cancelar</button>
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary form-control">
                    Guardar
                </button>
            </div>
        </div>
    </div>

</EditForm>

@code
{
    [Parameter] public RequestViewModel_Edificio registro { get; set; } = new RequestViewModel_Edificio();

    private void OnValidForm() => dialogService.Close(registro);
    private void OnCloseForm() => dialogService.Close(null);
}
