<div class="row">
    <div class="col">
        <InputTextArea class="form-control" style="height:200px" @bind-Value="mensaje" />
    </div>
</div>

<div class="row my-3">
    <div class="offset-3 col-3">
        <button type="button" class="btn btn-secondary form-control" @onclick=@(() => DialogModalService.Close(null))>Cancelar</button>
    </div>

    <div class="col-3">
        <button type="button" class="btn btn-primary form-control" @onclick=@(() => DialogModalService.Close(mensaje))>Aceptar</button>
    </div>
</div>

@code
{
    string mensaje = string.Empty;
}
